name: Build and Deploy React App

on:
  push:
    branches:
      - master

jobs:
  build-and-deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install dependencies
        run: npm install

      - name: Build React app
        run: npm run build

      - name: Login to Docker Hub
        run: echo "${{ secrets.DOCKER_HUB_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_HUB_USERNAME }}" --password-stdin

      - name: Build Docker image
        run: docker build -t tesla:1.0 .

      - name: Tag Docker image for Docker Hub
        run: docker tag tesla:1.0 ${{ secrets.DOCKER_HUB_USERNAME }}/tesla:1.0

      - name: Push Docker image to Docker Hub
        run: docker push ${{ secrets.DOCKER_HUB_USERNAME }}/tesla:1.0

      - name: Deploy Docker container
        run: |
          docker stop tesla || true
          docker rm tesla || true
          docker run -d --name tesla -p 3055:80 tesla:1.0
